server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true
    hostname: api-gateway

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

info:
  application:
    name: ${spring.application.name}
    description: API Gateway
    version: '@project.version@'

jwt:
  secret: 4Z8gF2kL9mN0pQ3rS5tU7vW8xY0zA1bC2dE3fG4hI5jK6lM7nO8pQ9rS0tU1vW2x