server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: restaurant-service
          uri: lb://restaurant-service
          predicates:
            - Path=/api/restaurant/**, /api/table/**, /api/availability/**
          filters:
            - name: CircuitBreaker
              args:
                name: restaurantCircuitBreaker
                fallbackUri: forward:/fallback
        - id: reservation-service
          uri: lb://reservation-service
          predicates:
            - Path=/api/reservation/**
          filters:
            - name: CircuitBreaker
              args:
                name: reservationCircuitBreaker
                fallbackUri: forward:/fallback
    discovery:
      locator:
        enabled: true
        lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    instance:
      prefer-ip-address: true

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

info:
  application:
    name: ${spring.application.name}
    description: API Gateway
    version: '@project.version@'

jwt:
  secret: 4Z8gF2kL9mN0pQ3rS5tU7vW8xY0zA1bC2dE3fG4hI5jK6lM7nO8pQ9rS0tU1vW2x