server:
  port: 8081

spring:
  application:
    name: restaurant-service

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

  datasource:
    generate-unique-name: false
    name: restaurant-service
    url: jdbc:h2:mem:restaurant-db
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  cloud:
    loadbalancer:
      ribbon:
        enabled: false
      cache:
        enabled: true
        ttl: 30s

management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

info:
  application:
    name: ${spring.application.name}
    description: Restaurant Service
    version: '@project.version@'

springdoc:
  enable-hateoas: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true
    instanceId: ${spring.application.name}:${EUREKA_INSTANCE_INSTANCEID:${random.value}}
    leaseRenewalIntervalInSeconds: 10
    metadataMap:
      instanceId: ${spring.application.name}:${EUREKA_INSTANCE_INSTANCEID:${random.value}}

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic