server:
  port: 8081

spring:
  application:
    name: restaurant-service

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

eureka:
  client:
    enabled: false
    registerWithEureka: false
    fetchRegistry: false

restaurant-service:
  url: http://localhost:8081

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: BASIC

logging:
  level:
    org.springframework.cloud.loadbalancer: ERROR
    org.springframework.cloud.openfeign: ERROR
    com.project.reservation_service: DEBUG